<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>weixin Web</display-name>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
        classpath*:applicationContext.xml
		</param-value>
	</context-param>

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>


	<!-- Processes application requests -->
	<servlet>
		<servlet-name>coreServlet</servlet-name>
		<servlet-class>com.linhongzheng.weixin.servlets.CoreServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>coreServlet</servlet-name>
		<url-pattern>/coreServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>oauthServlet</servlet-name>
		<servlet-class>com.linhongzheng.weixin.servlets.OAuthServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>oauthServlet</servlet-name>
		<url-pattern>/oauthServlet</url-pattern>
	</servlet-mapping>


	<!-- Disables Servlet Container welcome file handling. Needed for compatibility 
		with Servlet 3.0 and Tomcat 7.0 -->
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

</web-app>